/* html, body, .main-container CSS pushes the footer to the bottom of the page */
html {
  height: 100%;
}

body {
  height: 100%;
}

.main-container {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
}

.custom-logo-text {
  margin-left: -0.8rem;
  z-index: 2;
}
